## Import of packages
import(
	tcltk,
	XML
)

## Export of regular function names
export(
    conosur_families,
    conosur_query,
    conosur_species,
    load_author,
    load_info,
    load_synonyms,
    tpl_families
)
